# Yarn 4 (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore cache if not using Zero-Installs
.yarn/cache

# Ignore Plug'n'Play loader files
.pnp.*
.pnp

# Ignore environment files
.env
.env.*  # Optional: also ignore things like `.env.local`, `.env.production`

node_modules/
